node_modules
dist
build
.tmp
.strapi
.cache
.git
.github
.env
.env.*
!.env.example
npm-debug.log*
yarn-error.log*
*.log
public/uploads/*
!public/uploads/.gitkeep
database/*.db
database/*.db-journal
database/*.sqlite
.DS_Store
Thumbs.db
README.md
docs
tests
e2e
coverage
.env.test
.vscode
.idea